@model List<Wedding>
@* @{
    bool existingRSVP = Model.UserId
            .Any(u => u.UserId == Context.Session.GetInt32("UUID"));

} *@
<div class="container-fluid">
<h1>Welcome to the Wedding Planner</h1>
<table class="table table-striped">
    <tr>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guests</th>
        <th>Action</th>
    </tr> 
    @foreach (Wedding item in Model)
    {
        bool existingRSVP = item.UserWeddingRSVP
            .Any(u => u.UserId == Context.Session.GetInt32("UUID"));
        <tr>
            <td><a href="/wedding/@item.WeddingId">@item.WedderOne & @item.WedderTwo</a></td>
            <td>@item.Date.ToString("MM/dd/yyyy")</td>
            <td>@item.UserWeddingRSVP.Count</td>
            @if(Context.Session.GetInt32("UUID") == @item.CreatedBy)
            {
                <form asp-controller="Wedding" asp-action="DeleteWedding" asp-route-weddingId ="@item.WeddingId">
                <td><button class="btn btn-sm btn-outline-danger">Delete</button></td>
                </form>
            }
            else
            {
                <form asp-controller="Wedding" asp-action="RSVP" asp-route-weddingId ="@item.WeddingId">
                    <td><button class="btn btn-sm btn-outline-primary">
                    @if(!existingRSVP)
                    {
                        <span>RSVP</span>
                    }
                    else
                    {
                        <span>Un-RSVP</span>
                    }
                    </button></td>
                </form>
            }
        </tr>
    }
</table>
<form asp-controller="Wedding" asp-action="NewWedding" method="get">
    <button class="btn btn-success">New Wedding</button>
</form>
</div>